@charset "utf-8";
/* CSS Document */

.heading {
	font-family: verdana;
	padding: 15px;
	padding-left: 40;
	margin: 15px;
}
#main-nav {
	text-align: center;
	padding: 15px;
}
table {
	width: 50%;
	margin: 0 auto;
}
.whatIs {
}
table {
	border-collapse: collapse;
}
table, th, td {
	border: 1px solid #FFFFFF;
	width: 20em;
	text-align: left;
	min-width: 35%;
	min-height: 15em;
}
* {
	background-color: #000000;
	color: #FFFFFF;
	text-align: center;
	background-size: 100% 100%;
}
